<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui,viewport-fit=cover" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <title>dev.neave.sems Property Inspector</title>
        <link rel="stylesheet" href="../../../libs/css/sdpi.css" />
    </head>

    <body>
        <div class="sdpi-wrapper">
            <details class="message info">
                <summary>Help</summary>
                <p>Email and Password must be the same as you use to login to
                    https://www.semsportal.com</p>
                <p>Power Station ID is the GUID from the URL</p>
            </details>
            <div class="sdpi-item">
                <div class="sdpi-item-label">Email</div>
                <input class="sdpi-item-value" id="email" value
                    placeholder="Enter your email address" required>
            </div>
            <div class="sdpi-item">
                <div class="sdpi-item-label">Password</div>
                <input class="sdpi-item-value" id="password" type="password"
                    value placeholder="Password" required>
            </div>
            <div class="sdpi-item">
                <div class="sdpi-item-label">Power Station ID</div>
                <input class="sdpi-item-value" id="powerstation" value
                    placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" required>
            </div>

            <div class="sdpi-item">
                <div class="sdpi-item-label">Auto Update (seconds)</div>
                <input class="sdpi-item-value" id="autoupdateinseconds" value
                    placeholder="0" required>
            </div>
        </div>

        <!-- Stream Deck Libs -->
        <script src="../../../libs/js/constants.js"></script>
        <script src="../../../libs/js/prototypes.js"></script>
        <script src="../../../libs/js/timers.js"></script>
        <script src="../../../libs/js/utils.js"></script>
        <script src="../../../libs/js/events.js"></script>
        <script src="../../../libs/js/api.js"></script>
        <script src="../../../libs/js/property-inspector.js"></script>
        <script src="../../../libs/js/dynamic-styles.js"></script>

        <!-- Property Inspector Source -->
        <script src="inspector.js"></script>
    </body>

</html>
